@using QA.Core.Web
<button class="k-button" id="btnRefresh">@this.LocalResources("RefreshItem")</button>
<button class="k-button" id="btnPublish">@this.LocalResources("PublishItem")</button>
<button class="k-button" id="btnAddPage">@this.LocalResources("AddChildPageItem")</button>
<button class="k-button" id="btnEditPage">@this.LocalResources("EditPageItem")</button>
<button class="k-button" id="btnPreviewPage">@this.LocalResources("PreviewItem")</button>
<button class="k-button" id="btnDeletePage">@this.LocalResources("DeletePageItem")</button>